@use '../variables/spacing' as sp;
@use '../variables/colors' as c;
@use '../variables/font-size' as fs;


.card {
  background-color: c.$light;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
  padding: sp.$m;

  &.artist-card {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: sp.$s;
  }

  &.album-card {
    display: flex;
    flex-direction: column;

    & .title-wrapper {
      display: flex;
      flex-direction: column;

      & .title {
        font-size: fs.$l;
        font-weight: 700;
      }

      & .subtitle {
        font-size: fs.$s;
      }
    }
  }
}

.songs-grid-system {
  display: grid;
  grid-template-columns: 1fr 10fr 6fr 4fr;
  // text-align: center;

  &.banner {
    padding: sp.$m;
  }
}