@use '../variables/responsive' as r;
@use '../variables/spacing' as sp;

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-top: sp.$m;
  padding-bottom: sp.$l;
  padding-left: sp.$l;
  padding-right: sp.$l;

  @include r.x-medium {
    padding-left: sp.$s;
    padding-right: sp.$s;
  }

  &.nav-container {
    padding-top: sp.$xs;
    padding-bottom: sp.$xs;
  }

  &.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
