@use '../variables/responsive' as r;
@use '../variables/colors' as c;

footer {
  background-color: c.$header-light;
  border-top: 2px solid c.$xx-dark;

  @include r.dark-mode {
    border-top: 2px solid c.$xx-light;
    background-color: c.$header-dark;
    color: c.$xx-light;
  }
}