@use '../variables/responsive' as r;
@use '../variables/colors' as c;

header {

  &.main-header {
    background-color: c.$header-light;;
    border-bottom: 2px solid c.$xx-dark;

    @include r.dark-mode {
      border-bottom: 2px solid c.$xx-light;
      background-color: c.$header-dark;
      color: c.$x-light;
    }
  }
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;



  & .nav-link {
    text-decoration: none;
    font-weight: 500;
    text-transform: capitalize;

    &:hover {
      color: c.$x-dark;

      @include r.dark-mode {
        color: c.$x-light;
      }
    }

    &.active {
      font-weight: 700;
      text-decoration: overline;
      cursor: default;

      &:hover {
        color: c.$xx-dark;

        @include r.dark-mode {
          color: c.$xx-light;
        }
      }
    }
  }

  & .nav-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 20px;
    margin: 0;
    padding-left: 0;
  }
}