@use '../variables/responsive' as r;
@use '../variables/spacing' as sp;

.index-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: sp.$l;
  padding-bottom: sp.$xl;

  @include r.medium {
    text-align: center;
  }

  & .index-banner {
    text-decoration: overline wavy;
    padding-top: sp.$xl;
    padding-bottom: sp.$m;
  }
}