@use '../variables/responsive' as r;
@use '../variables/spacing' as sp;
@use '../variables/colors' as c;
@use '../variables/font-size' as fs;

details {
  padding: sp.$s;

  &:hover {
    background-color: c.$x-light;

    @include r.dark-mode {
      background-color: c.$x-dark;
    }
  }

  & summary {
    text-transform: uppercase;
    font-weight: 500;
    font-size: fs.$m;

    &:hover {
      cursor: pointer;
    }
  }

  & p {
    padding: sp.$s;
  }
}