$xx-dark: black;
$x-dark: #0c2b22;
$dark: #175241;

$xx-light: rgb(247, 246, 246);
$x-light: #acccc1;
$light: #7ea899;

$alarm-light: rgb(44, 1, 165);
$alarm-light-hover: blue;
$alarm-dark: rgb(0, 162, 255);
$alarm-dark-hover: rgb(0, 100, 158);


$header-light: #42c5a0;
$header-dark: #0c2b22;

$box-shadow-hover: rgba(0, 0, 0, 0.8);