$large: 799px;
$x-medium: 649px;
$medium: 549px;
$small: 449px;
$x-small: 399px;

@mixin dark-mode {
  @media screen and (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin large {
  @media screen and (max-width: $large) {
    @content;
  }
}

@mixin x-medium {
  @media screen and (max-width: $x-medium) {
    @content;
  }
}

@mixin medium {
  @media screen and (max-width: $medium) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: $small) {
    @content;
  }
}

@mixin x-small {
  @media screen and (max-width: $x-small) {
    @content;
  }
}